<!doctype html>
<html>
<head>
    <style>
        .time-horizontal {
            list-style-type: none;
            border-top: 1px solid #00FFFF;
            max-width: 1300px;
            padding: 0px;
            margin: 0px;
        }

        .time-horizontal li {
            float: left;
            position: relative;
            text-align: center;
            width: 14%;
            padding-top: 10px;
        }

        .time-horizontal li b:before {
            content: '';
            position: absolute;
            top: -10px;
            left: 47%;
            width: 12px;
            height: 12px;
            border: 2px solid #C4E1FF;
            border-radius: 8px;
            background: #C4E1FF;
        }
    </style>

    <link rel="stylesheet" type="text/css" href="/static/css/default.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/mobile.css"/>
    <link rel='stylesheet' href='/static/css/jquery-ui.css'>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=3.0&ak=XSsKYtZh1B9xnfggH0HdPsph9kCGW3er"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/library/Heatmap/2.0/src/Heatmap_min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/static/js/Chart.js"></script>
    <script type="text/javascript" src="/static/js/City.js"></script>
    <script type="text/javascript" src="/static/js/common.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,maximum-scale=1.0,user-scalable=no">
    <script type="text/javascript">
    function initialize() {
        map = new BMap.Map("mapid");          // 创建地图实例
        var point = new BMap.Point(-97, 39);  // 创建点坐标
        map.centerAndZoom(point, 5);                 // 初始化地图，设置中心点坐标和地图级别
        var  mapStyle = {
            features: ["road", "building", "water", "land"],//隐藏地图上的poi
            style: "midnight"  //设置地图风格为高端黑
        };
        map.setMapStyle(mapStyle);
        map.enableScrollWheelZoom();
    }


    window.onload = initialize;

    </script>
    <style type="text/css">
        .anchorBL{
            display:none;
        }
    </style>
    <style>
        #mapid{
            width: 95%;
            border-radius: 10px;
            transform: translate3d(0,0,0);
        }
    </style>
    <title>Aerie - 航空情报分析平台</title>

</head>
<body>

    <div id="wrapper">
        <h1>Aerie - 航空情报分析平台</h1>
        <h2><strong> --  鹰巢  --</strong><sub>Focus on the indicators</sub><b class="logoline"></b><b class="logoline1"></b><b class="logoline2"></b><b class="logoline3"></b><b class="logoline4"></b></h2>
        <!--时间区-->
        <div class="date-timer">
           <p>
               <strong id="H"></strong>
               <strong>:</strong>
               <strong id="M"></strong>
               <strong id="S" class="hide"></strong>
           </p>
           <em id="D"></em>
            <ul>
                <li id="Y"></li>
                <li id="MH"></li>
                <li id="TD"></li>
            </ul>
        </div>
        <div class="big-index-1">
            <ul>
                <li>
                    <b class="animation-1"></b><b class="animation-2"></b><b class="animation-3"></b>
                    <p>监视飞行器数目</p>
                    <strong>48107</strong>
                </li>
                <li>
                    <b class="animation-1"></b><b class="animation-2"></b><b class="animation-3"></b>
                    <p>热点(Country)</p>
                    <strong> U . S . A . </strong>
                </li>
                <li>
                    <b class="animation-1"></b><b class="animation-2"></b><b class="animation-3"></b>
                    <p>热点(Province)</p>
                    <strong> C . A . </strong>
                </li>
                <li>
                    <b class="animation-1"></b><b class="animation-2"></b><b class="animation-3"></b>
                    <p>热点(City)</p>
                    <strong> L . A .</strong>
                </li>
                <li>
                    <b class="animation-1"></b><b class="animation-2"></b><b class="animation-3"></b>
                    <p>热点时段</p>
                    <strong>2016.07</strong>
                </li>
                <li>
                    <b class="animation-1"></b><b class="animation-2"></b><b class="animation-3"></b>
                    <p>常用航空器</p>
                    <strong>DA40</strong>
                </li>
            </ul>
        </div>
        <div class="submenu">
            <ul>
                <li><a href="#this" id = "LoadHeatMap" class="active">         <b>1</b><span>地区热力图<em></em></span></a> </li>
                <li><a href="#this" id = "LoadHeightMapLow" class="active">    <b>2</b><span>街景飞行器<em></em></span></a> </li>
                <li><a href="#this" id = "LoadHeightMapMid" class="active">    <b>3</b><span>监视飞行器<em></em></span></a></li>
                <li><a href="#this" id = "LoadHeightMapHig" class="active">    <b>4</b><span>高空飞行器<em></em></span></a></li>
                <li><a href="/video" id = "LoadVideo" class="active" >           <b>5</b><span>俯 视 影 像<em></em></span></a></li>
                <li><a href="/video1" id = "LoadVideo1" class="active" >           <b>6</b><span>街 景 影 像<em></em></span></a></li>
                <li><a href="#this" id = "MarkCity" class="active">           <b>7</b><span>热 点 标 注<em></em></span></a></li>
                <li><a href="/video2" id = "WordCloud" class="active">           <b>8</b><span>舆 情 分 析<em></em></span></a></li>
                <li><a href="#this" id = "CleanMap" class="active">            <b>0</b><span>标 记 清 空<em></em></span></a></li>
            </ul>
        </div>

        <div class="center-area">
            <div id="mapid" style="width: 900px; height: 350px;">

            </div>


            <div class="details-area">
                <div class="container">
                    <ul class="time-horizontal">
                        <li onclick="DayAdd()"><b></b>03/01/2018</li>
                        <li onclick="DayAdd()"><b></b>03/02/2018</li>
                        <li onclick="DayAdd()"><b></b>03/03/2018</li>
                        <li onclick="DayAdd()"><b></b>03/04/2018</li>
                        <li onclick="DayAdd()"><b></b>03/05/2018</li>
                        <li onclick="DayAdd()"><b></b>03/06/2018</li>
                        <li onclick="DayAdd()"><b></b>03/07/2018</li>
                    </ul>
                </div>
            </div>

            <div class = "details1-area">
                <canvas id="myChart1" width="440" height="230"></canvas>
            </div>

            <div class = "details2-area">
                <canvas id="myChart2" width="440" height="230"></canvas>
            </div>

        </div>
        <div class="right-area">
            <h3>监控数据分析 <b></b></h3>
            <div class="area-inbox-1">
                <dl>
                    <dt>监控热度百分比</dt>
                    <dd class="font12"><span>76.52%</span><b></b></dd>
                    <dt class="ml-20">热点监控城市</dt>
                    <dd class="font-red ml-20"><span>L . A . </span><b></b></dd>
                    <dt>舆情热度百分比</dt>
                    <dd><span>68.13%</span><b></b></dd>
                </dl>
                <div class="round-1"></div>
                <div class="round-2"></div>
                <div class="round-3">A.I.</div>
                <div class="round-4"></div>
            </div>
            <div class="area-inbox-2">
                <ul>
                    <li><strong>12</strong>74.23%<b></b><em></em></li>
                    <li><strong>16</strong>71.19%<b></b><em></em></li>
                    <li><strong>18</strong>68.02%<b></b><em></em></li>
                </ul>
                <div class="area-text">
                    <b class="animation-line1"></b>
                    <h4>航空数据分析平台</h4>
                    <p class="text_container">
                        <script>var s = '分析航空数据，   展示热点区域，    高效联合应用，    支持精准决策。       '; var con = $('.text_container'); var index = 0; var length = s.length; var tId = null; function start(){ con.text(''); tId=setInterval(function(){ con.append(s.charAt(index)); if(index++ === length){ clearInterval(tId); index = 0; start() } },100); } start();</script>
                    </p>
                    <b class="animation-line2"></b>
                </div>
            </div>

        </div>
    </div>
</body>

<script>

    var map;
	var DayCount = 0;

	$('#LoadHeatMap').click(function(){
		$.getJSON("{% url 'LoadPoints' %}",function(ret){
		    //heatmapOverlay.hide();
            heatmapOverlay = new BMapLib.HeatmapOverlay({"radius":20});
            map.addOverlay(heatmapOverlay);
            heatmapOverlay.setDataSet({data:ret,max:100});
            heatmapOverlay.show();
        })
    });

	$('#CleanMap').click(function(){
        initialize();
    });

	$('#LoadHeightMapLow').click(function(){
		$.getJSON("{% url 'LoadHeightLow' %}",function(ret){
            var points = [];  // 添加海量点数据
            for (var i = 0; i < ret.length; i++) {
                points.push(new BMap.Point(ret[i][0], ret[i][1]));
            }
            var options = {
                size: BMAP_POINT_SIZE_TINY,
                color: '#1bd356'
            };
            var pointCollection = new BMap.PointCollection(points, options);  // 初始化PointCollection
            pointCollection.addEventListener('click', function (e) {
                alert('单击点的坐标为：' + e.point.lng + ',' + e.point.lat);  // 监听点击事件
            });
            map.addOverlay(pointCollection);  // 添加Overlay

        });
    });

	$('#LoadHeightMapMid').click(function(){
		$.getJSON("{% url 'LoadHeightMid' %}",function(ret){
            var points = [];  // 添加海量点数据
            for (var i = 0; i < ret.length; i++) {
                points.push(new BMap.Point(ret[i][0], ret[i][1]));
            }
            var options = {
                size: BMAP_POINT_SIZE_TINY,
                color: '#5f6cd3'
            };
            var pointCollection = new BMap.PointCollection(points, options);  // 初始化PointCollection
            pointCollection.addEventListener('click', function (e) {
                alert('单击点的坐标为：' + e.point.lng + ',' + e.point.lat);  // 监听点击事件
            });
            map.addOverlay(pointCollection);  // 添加Overlay

        });
    });

	$('#LoadHeightMapHig').click(function(){
		$.getJSON("{% url 'LoadHeightHig' %}",function(ret){
            var points = [];  // 添加海量点数据
            for (var i = 0; i < ret.length; i++) {
                points.push(new BMap.Point(ret[i][0], ret[i][1]));
            }
            var options = {
                size: BMAP_POINT_SIZE_TINY,
                color: '#d33f42'
            };
            var pointCollection = new BMap.PointCollection(points, options);  // 初始化PointCollection
            pointCollection.addEventListener('click', function (e) {
                alert('单击点的坐标为：' + e.point.lng + ',' + e.point.lat);  // 监听点击事件
            });
            map.addOverlay(pointCollection);  // 添加Overlay

        });
    });

	$('#LoadHeightMap').click(function(){
		$.getJSON("{% url 'LoadHeight' %}",function(ret){
            var points = [];  // 添加海量点数据
            for (var i = 0; i < ret[0].length; i++) {
                points.push(new BMap.Point(ret[0][i][0], ret[0][i][1]));
            }
            var options = {
                size: BMAP_POINT_SIZE_TINY,
                color: '#1bd356'
            };
            var pointCollection = new BMap.PointCollection(points, options);  // 初始化PointCollection
            pointCollection.addEventListener('click', function (e) {
                alert('单击点的坐标为：' + e.point.lng + ',' + e.point.lat);  // 监听点击事件
            });
            map.addOverlay(pointCollection);  // 添加Overlay

            points = [];  // 添加海量点数据
            for (var i = 0; i < ret[1].length; i++) {
                points.push(new BMap.Point(ret[1][i][0], ret[1][i][1]));
            }
            options = {
                size: BMAP_POINT_SIZE_TINY,
                color: '#5f6cd3'
            };
            pointCollection = new BMap.PointCollection(points, options);  // 初始化PointCollection
            pointCollection.addEventListener('click', function (e) {
                alert('单击点的坐标为：' + e.point.lng + ',' + e.point.lat);  // 监听点击事件
            });
            map.addOverlay(pointCollection);  // 添加Overlay

            points = [];  // 添加海量点数据
            for (var i = 0; i < ret[2].length; i++) {
                points.push(new BMap.Point(ret[2][i][0], ret[2][i][1]));
            }
            options = {
                size: BMAP_POINT_SIZE_TINY,
                color: '#d33f42'
            };
            pointCollection = new BMap.PointCollection(points, options);  // 初始化PointCollection
            pointCollection.addEventListener('click', function (e) {
                alert('单击点的坐标为：' + e.point.lng + ',' + e.point.lat);  // 监听点击事件
            });
            map.addOverlay(pointCollection);  // 添加Overlay
        })
    });

	$('#MarkCity').click(function LoadCity(){
        for(var i = 0; i < 3; i++){
            var point = new BMap.Point(CityList[i][0], CityList[i][1]);
            var circle = new BMap.Circle(point, 140000 , {strokeColor:"Red", strokeWeight:1.5, strokeOpacity:0.8, fillColor:""}); //创建圆
            map.addOverlay(circle);
        }
        for(var i = 3; i < CityList.length - 7; i++){
            var point = new BMap.Point(CityList[i][0], CityList[i][1]);
            var circle = new BMap.Circle(point, 80000, {strokeColor:"Blue", strokeWeight:1.5, strokeOpacity:0.8, fillColor:""}); //创建圆
            map.addOverlay(circle);
        }
        for(var i = CityList.length - 7; i < CityList.length - 2; i++){
            var point = new BMap.Point(CityList[i][0], CityList[i][1]);
            var circle = new BMap.Circle(point, 120000, {strokeColor:"Pink", strokeWeight:1.5, strokeOpacity:0.8, fillColor:""}); //创建圆
            map.addOverlay(circle);
        }
        for(var i = CityList.length - 2; i < CityList.length; i++){
            var point = new BMap.Point(CityList[i][0], CityList[i][1]);
            var circle = new BMap.Circle(point, 90000, {strokeColor:"Blue", strokeWeight:1, strokeOpacity:0.8, fillColor:""}); //创建圆
            map.addOverlay(circle);
        }
    });

	function DayAdd(){
        DayCount += 1;
        DayCount = DayCount % 7;
    }

	var ctx1 = document.getElementById("myChart1").getContext('2d');
    var myChart = new Chart(ctx1, {
        type: 'bar',
        data: {
            labels: ["Los Angeles", "Las Vegas", "San Jose", "New York", "Washington", "Seattle"],
            datasets: [{
                label: 'Flights in City',
                data: [18523 + parseInt(Math.random() * 5000), 17653 + parseInt(Math.random()* 5000), 13342 + parseInt(Math.random() * 5000), 9845 + parseInt(Math.random() * 5000), 9811 + parseInt(Math.random() * 5000), 8209 + parseInt(Math.random() * 5000)],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.7)',
                    'rgba(54, 162, 235, 0.7)',
                    'rgba(255, 206, 86, 0.7)',
                    'rgba(75, 192, 192, 0.7)',
                    'rgba(153, 102, 255, 0.7)',
                    'rgba(255, 159, 64, 0.7)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
            borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });

    var ctx2 = document.getElementById("myChart2").getContext('2d');
    var myChart2 = new Chart(ctx2, {
        type: 'line',
        data: {
            labels: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24],
            datasets: [{
                label: 'Number Per Hour',
                data: [2 + Math.random(), 2.2 + Math.random(), 1.9 + Math.random(), 3.6 + Math.random(), 4.5 + Math.random() * 3, 6.3 + Math.random(), 5.2 + Math.random(), 4.1 + Math.random(), 3.9 + Math.random(), 3.2 + Math.random(), 2.9 + Math.random() * 2, 3.5 + Math.random(), 3.9 + Math.random(), 4.1 + Math.random(), 4.6 + Math.random(), 4.9 + Math.random(), 5.4 + Math.random(), 5.2 + Math.random(), 4.3 + Math.random(), 3.8 + Math.random(), 3.5 + Math.random(), 2.9 + Math.random(), 2.7 + Math.random(), 2.2 + Math.random()],
                backgroundColor: [
                    'rgba(75, 192, 192, 0.7)',
                ],
                borderColor: [
                    'rgba(54, 162, 235, 1)',
            ],
            borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });

</script>

</html>
